* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: antiquewhite;
}

/* HEADER */
#decimals {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    opacity: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
}

#decimals span {
    margin-left: 0;
    margin-right: 0;
}
  
.marquee span#full {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 300s linear infinite;
    animation-delay: 2s;
}

#decimals.display {
    text-align: center;
}

#center {
    background-color: yellow;
    color: black;
}

@keyframes marquee {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

/* UI */
.center {
    margin: 0 auto;
}

.asterisk {
    font-size: small;
    color: maroon;
}

#searchbox {
    margin-top: 50px;
    height: auto;
    overflow: hidden;
    max-height: 22rem;
    transition: max-height 1.0s ease-in-out;
}

#searchbox.unlimited {
    max-height: 32rem;
}

input {
    width: 80%;
    padding: 3px;
    font-size: x-large;
    margin: 1.5rem 0;
    border: 1px solid #cccccc;
}

.dialog {
    padding: 15px;
    width: 50%;
    min-width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

h1 {
    margin-top: 2rem;
}

h3 {
    margin: 1rem 0;
}

/* FOOTER */
footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 10px;
    opacity: 1.0;
    border-top: 1px solid black;
}

footer p {
    font-size: larger;
    text-align: center;
    margin: 1rem 0;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: royalblue;
}

/* POPUP */
.trigger{
    text-align: center;
    padding: 7px 13px;
    background: #3e3e3e;
    color: #fff;
    font-size: larger;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 30rem;
    border-radius: 0.5rem;
}
.modal-content p {
    margin-top: 1rem;
}
.modal-content a {
    color: black;
}
.modal-content a:hover {
    color:darkgoldenrod;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
@media screen and (max-width: 1000px){
    .modal-content {
        width: 80%;
    }
}